.jumbotron{
    font-family: 'Capriola', sans-serif;
    background-color: black;
    color: yellowgreen; 
}
body{
    background-color: slategray;
}
.card-header{
background-color: black;
color: white;
}
form{
    background-image: url(../images/Background-60.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   color: greenyellow; 
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}